In [1]:
t<-as.data.frame(read.csv("team.csv"))
p<-as.data.frame(read.csv("player.csv"))

In [2]:
#Which are the top 10 players by overall rating?

p <- p[rev(order(p$overall_rating)),]
rownames(p) <- NULL
head(p[,c(4,5)],10)

   player_name       overall_rating
1  Lionel Messi      94
2  Cristiano Ronaldo 93
3  Wayne Rooney      93
4  Gianluigi Buffon  93
5  Gregory Coupet    92
6  Xavi Hernandez    92
7  Fabio Cannavaro   91
8  Andres Iniesta    91
9  Ronaldinho        91
10 Alessandro Nesta  91

In [3]:
#Which are the top 10 goalkeepers by sum of gk attributes?

p <- p[rev(order(p$gk_attributes)),]
rownames(p) <- NULL
head(p[,c(4,6)],10)

   player_name       gk_attributes
1  Gianluigi Buffon  449
2  Gregory Coupet    447
3  Petr Cech         445
4  Iker Casillas     442
5  Manuel Neuer      440
6  Julio Cesar       438
7  Sebastian Frey    437
8  Edwin van der Sar 436
9  David De Gea      429
10 Pepe Reina        428

In [4]:
#Which are the top 10 players by number of appearances (with any team they played with)?

p <- p[rev(order(p$total_appearances)),]
rownames(p) <- NULL
head(p[,c(4,3)],10)

   player_name          total_appearances
1  Steve Mandanda       300
2  Stephane Ruffier     294
3  Gorka Iraizoz Moreno 286
4  Samir Handanovic     286
5  Tim Howard           282
6  Hugo Lloris          282
7  Joe Hart             275
8  Cedric Carrasso      268
9  Daniel Congre        262
10 Moussa Sissoko       260

In [5]:
#Which are the top 10 players by number of leagues they played in?

p <- p[rev(order(p$leagues_played)),]
rownames(p) <- NULL
head(p[,c(4,2)],10)

   player_name             leagues_played
1  Gelson Fernandes        6
2  Filip Djuricic          5
3  Ricky van Wolfswinkel   5
4  Jose Campana            4
5  Stefan Scepovic         4
6  Oguchi Onyewu           4
7  Eidur Gudjohnsen        4
8  Nelson Oliveira         4
9  Florent Sinama-Pongolle 4
10 Olivier Kapo            4

In [6]:
#Which are the top 10 teams by sum of build up play attributes?

t <- na.omit(t[rev(order(t$buildup_ovr)),])
rownames(t) <- NULL
head(t[,c(3,4)],10)

   team_long_name             buildup_ovr
1  Torino                     209
2  Udinese                    205
3  Fortuna Düsseldorf         198
4  Podbeskidzie Bielsko-Biala 193
5  Korona Kielce              192
6  Carpi                      190
7  Widzew Lódz                190
8  Widzew Lódz                190
9  FC Nantes                  189
10 Lazio                      188

In [7]:
#Which are the top 10 teams by sum of chance creation attributes?

t <- na.omit(t[rev(order(t$chance_ovr)),])
rownames(t) <- NULL
head(t[,c(3,5)],10)

   team_long_name          chance_ovr
1  Lazio                   220
2  SV Werder Bremen        216
3  Napoli                  215
4  Manchester City         210
5  Swansea City            210
6  Tottenham Hotspur       210
7  Wolverhampton Wanderers 210
8  Queens Park Rangers     210
9  Reading                 210
10 Rangers                 210

In [8]:
#Which are the top 10 teams by sum of defense attributes?

t <- na.omit(t[rev(order(t$defence_ovr)),])
rownames(t) <- NULL
head(t[,c(3,6)],10)

   team_long_name         defence_ovr
1  Sporting Charleroi     210
2  SC Bastia              210
3  Montpellier Hérault SC 210
4  Jagiellonia Bialystok  210
5  OGC Nice               210
6  KVC Westerlo           210
7  Stade Brestois 29      210
8  AS Nancy-Lorraine      210
9  Hannover 96            210
10 1. FC Kaiserslautern   210

In [9]:
#Which are the top 10 teams by number of scored goals?

t <- na.omit(t[rev(order(t$total_goals)),])
rownames(t) <- NULL
head(t[,c(3,2)],10)

   team_long_name    total_goals
1  FC Barcelona      849
2  Real Madrid CF    843
3  Celtic            695
4  FC Bayern Munich  653
5  PSV               652
6  Ajax              647
7  FC Basel          619
8  Manchester City   606
9  Chelsea           583
10 Manchester United 582