In [3]:
library(dplyr)
library(RSQLite)

In [4]:
my_db <- src_sqlite("my_db.sqlite3", create = T)

In [7]:
install.packages('nycflights13',repos = 'http://cran.us.r-project.org/')

Installing package into 'C:/Users/mpalg/Documents/R/win-library/3.3'
(as 'lib' is unspecified)

package 'nycflights13' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\mpalg\AppData\Local\Temp\RtmpOoWvbp\downloaded_packages

In [8]:
library(nycflights13)
flights_sqlite <- copy_to(my_db, flights, temporary = FALSE, indexes = list(
  c("year", "month", "day"), "carrier", "tailnum"))

In [9]:
flights_sqlite <- tbl(nycflights13_sqlite(), "flights")
flights_sqlite

Caching nycflights db at C:\Users\mpalg\AppData\Local\Temp\RtmpOoWvbp/nycflights13.sqlite
Creating table: airlines
Creating table: airports
Creating table: flights
Creating table: planes
Creating table: weather

Source:   query [?? x 19]
Database: sqlite 3.11.1 [C:\Users\mpalg\AppData\Local\Temp\RtmpOoWvbp/nycflights13.sqlite]

    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
1   2013     1     1      517            515         2      830            819
2   2013     1     1      533            529         4      850            830
3   2013     1     1      542            540         2      923            850
4   2013     1     1      544            545        -1     1004           1022
5   2013     1     1      554            600        -6      812            837
6   2013     1     1      554            558        -4      740            728
7   2013     1     1      555            600        -5      913            854
8   2013     1     1      557            600        -3      709            723
9   2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# ... with more rows, and 11 more variables: arr_delay <dbl>, carrier <chr>,
#   flight <int>, tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>,
#   distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dbl>

In [10]:
tbl(my_db, sql("SELECT * FROM flights"))

Source:   query [?? x 19]
Database: sqlite 3.11.1 [my_db.sqlite3]

    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
1   2013     1     1      517            515         2      830            819
2   2013     1     1      533            529         4      850            830
3   2013     1     1      542            540         2      923            850
4   2013     1     1      544            545        -1     1004           1022
5   2013     1     1      554            600        -6      812            837
6   2013     1     1      554            558        -4      740            728
7   2013     1     1      555            600        -5      913            854
8   2013     1     1      557            600        -3      709            723
9   2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# ... with more rows, and 11 more variables: arr_delay <dbl>, carrier <chr>,
#   flight <int>, tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>,
#   distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dbl>

In [11]:
select(flights_sqlite, year:day, dep_delay, arr_delay)

Source:   query [?? x 5]
Database: sqlite 3.11.1 [C:\Users\mpalg\AppData\Local\Temp\RtmpOoWvbp/nycflights13.sqlite]

    year month   day dep_delay arr_delay
   <int> <int> <int>     <dbl>     <dbl>
1   2013     1     1         2        11
2   2013     1     1         4        20
3   2013     1     1         2        33
4   2013     1     1        -1       -18
5   2013     1     1        -6       -25
6   2013     1     1        -4        12
7   2013     1     1        -5        19
8   2013     1     1        -3       -14
9   2013     1     1        -3        -8
10  2013     1     1        -2         8
# ... with more rows

In [12]:
filter(flights_sqlite, dep_delay > 240)

Source:   query [?? x 19]
Database: sqlite 3.11.1 [C:\Users\mpalg\AppData\Local\Temp\RtmpOoWvbp/nycflights13.sqlite]

    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
1   2013     1     1      848           1835       853     1001           1950
2   2013     1     1     1815           1325       290     2120           1542
3   2013     1     1     1842           1422       260     1958           1535
4   2013     1     1     2115           1700       255     2330           1920
5   2013     1     1     2205           1720       285       46           2040
6   2013     1     1     2343           1724       379      314           1938
7   2013     1     2     1332            904       268     1616           1128
8   2013     1     2     1412            838       334     1710           1147
9   2013     1     2     1607           1030       337     2003           1355
10  2013     1     2     2131           1512       379     2340           1741
# ... with more rows, and 11 more variables: arr_delay <dbl>, carrier <chr>,
#   flight <int>, tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>,
#   distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dbl>

In [13]:
arrange(flights_sqlite, year, month, day)

Source:   query [?? x 19]
Database: sqlite 3.11.1 [C:\Users\mpalg\AppData\Local\Temp\RtmpOoWvbp/nycflights13.sqlite]

    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
1   2013     1     1      517            515         2      830            819
2   2013     1     1      533            529         4      850            830
3   2013     1     1      542            540         2      923            850
4   2013     1     1      544            545        -1     1004           1022
5   2013     1     1      554            600        -6      812            837
6   2013     1     1      554            558        -4      740            728
7   2013     1     1      555            600        -5      913            854
8   2013     1     1      557            600        -3      709            723
9   2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# ... with more rows, and 11 more variables: arr_delay <dbl>, carrier <chr>,
#   flight <int>, tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>,
#   distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dbl>

In [14]:
mutate(flights_sqlite, speed = air_time / distance)

Source:   query [?? x 20]
Database: sqlite 3.11.1 [C:\Users\mpalg\AppData\Local\Temp\RtmpOoWvbp/nycflights13.sqlite]

    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
1   2013     1     1      517            515         2      830            819
2   2013     1     1      533            529         4      850            830
3   2013     1     1      542            540         2      923            850
4   2013     1     1      544            545        -1     1004           1022
5   2013     1     1      554            600        -6      812            837
6   2013     1     1      554            558        -4      740            728
7   2013     1     1      555            600        -5      913            854
8   2013     1     1      557            600        -3      709            723
9   2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# ... with more rows, and 12 more variables: arr_delay <dbl>, carrier <chr>,
#   flight <int>, tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>,
#   distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dbl>, speed <dbl>

In [15]:
summarise(flights_sqlite, delay = mean(dep_time))

Source:   query [?? x 1]
Database: sqlite 3.11.1 [C:\Users\mpalg\AppData\Local\Temp\RtmpOoWvbp/nycflights13.sqlite]

    delay
    <dbl>
1 1349.11

In [16]:
c1 <- filter(flights_sqlite, year == 2013, month == 1, day == 1)
c2 <- select(c1, year, month, day, carrier, dep_delay, air_time, distance)
c3 <- mutate(c2, speed = distance / air_time * 60)
c4 <- arrange(c3, year, month, day, carrier)

In [17]:
c4

Source:   query [?? x 8]
Database: sqlite 3.11.1 [C:\Users\mpalg\AppData\Local\Temp\RtmpOoWvbp/nycflights13.sqlite]

    year month   day carrier dep_delay air_time distance    speed
   <int> <int> <int>   <chr>     <dbl>    <dbl>    <dbl>    <dbl>
1   2013     1     1      9E         0      189     1029 326.6667
2   2013     1     1      9E        -9       57      228 240.0000
3   2013     1     1      9E        -3       68      301 265.5882
4   2013     1     1      9E        -6       57      209 220.0000
5   2013     1     1      9E        -8       66      264 240.0000
6   2013     1     1      9E         0       40      184 276.0000
7   2013     1     1      9E         6      146      740 304.1096
8   2013     1     1      9E         0      139      665 287.0504
9   2013     1     1      9E        -8      150      765 306.0000
10  2013     1     1      9E        -6       41      187 273.6585
# ... with more rows

In [18]:
collect(c4)

    year month day carrier dep_delay air_time distance speed
1   2013 1     1   9E        0       189      1029     326.6667
2   2013 1     1   9E       -9        57       228     240.0000
3   2013 1     1   9E       -3        68       301     265.5882
4   2013 1     1   9E       -6        57       209     220.0000
5   2013 1     1   9E       -8        66       264     240.0000
6   2013 1     1   9E        0        40       184     276.0000
7   2013 1     1   9E        6       146       740     304.1096
8   2013 1     1   9E        0       139       665     287.0504
9   2013 1     1   9E       -8       150       765     306.0000
10  2013 1     1   9E       -6        41       187     273.6585
11  2013 1     1   9E      -10        35        94     161.1429
12  2013 1     1   9E       52       173      1029     356.8786
13  2013 1     1   9E       88        72       427     355.8333
14  2013 1     1   9E       -4       107       509     285.4206
15  2013 1     1   9E       -3       106       636     360.0000
16  2013 1     1   9E        0       207      1182     342.6087
17  2013 1     1   9E        0       141       740     314.8936
18  2013 1     1   9E       -2        75       427     341.6000
19  2013 1     1   9E       59        NA      1391           NA
20  2013 1     1   9E        5       129       828     385.1163
21  2013 1     1   9E       -5        76       340     268.4211
22  2013 1     1   9E       -8        41       184     269.2683
23  2013 1     1   9E        0        30        94     188.0000
24  2013 1     1   9E       10        62       301     291.2903
25  2013 1     1   9E       42        91       425     280.2198
26  2013 1     1   9E       38       118       589     299.4915
27  2013 1     1   9E       11        43       213     297.2093
28  2013 1     1   9E      255       115       589     307.3043
29  2013 1     1   AA        2       160      1089     408.3750
30  2013 1     1   AA       -2       138       733     318.6957
... ...  ...   ... ...     ...       ...      ...      ...
813 2013 1     1   VX       0        362      2475     410.2210
814 2013 1     1   VX       0        364      2586     426.2637
815 2013 1     1   VX      -8        349      2475     425.5014
816 2013 1     1   WN      -1         40       185     277.5000
817 2013 1     1   WN      -1        279      1620     348.3871
818 2013 1     1   WN      -3        146       711     292.1918
819 2013 1     1   WN       4        264      1605     364.7727
820 2013 1     1   WN      -2        145       725     300.0000
821 2013 1     1   WN      -3        143       738     309.6503
822 2013 1     1   WN      -1         43       185     258.1395
823 2013 1     1   WN      -5        176       888     302.7273
824 2013 1     1   WN      -2         38       169     266.8421
825 2013 1     1   WN       0        142       711     300.4225
826 2013 1     1   WN      -2        137       738     323.2117
827 2013 1     1   WN       0        264      1620     368.1818
828 2013 1     1   WN       6        239      1411     354.2259
829 2013 1     1   WN      16        334      2133     383.1737
830 2013 1     1   WN       5        141       725     308.5106
831 2013 1     1   WN      -4        141       711     302.5532
832 2013 1     1   WN      16        133       738     332.9323
833 2013 1     1   WN       3        254      1605     379.1339
834 2013 1     1   WN      -3        181       888     294.3646
835 2013 1     1   WN       7        181       872     289.0608
836 2013 1     1   WN       8        245      1411     345.5510
837 2013 1     1   WN      -1        137       725     317.5182
838 2013 1     1   WN       6        148       711     288.2432
839 2013 1     1   WN      10         46       185     241.3043
840 2013 1     1   WN      -2        131       738     338.0153
841 2013 1     1   WN      31        134       711     318.3582
842 2013 1     1   WN      -2        134       725     324.6269

In [19]:
c4$query

NULL

In [20]:
c3$query

NULL

In [21]:
explain(c4)

<SQL>
SELECT *
FROM (SELECT `year`, `month`, `day`, `carrier`, `dep_delay`, `air_time`, `distance`, `distance` / `air_time` * 60.0 AS `speed`
FROM (SELECT `year` AS `year`, `month` AS `month`, `day` AS `day`, `carrier` AS `carrier`, `dep_delay` AS `dep_delay`, `air_time` AS `air_time`, `distance` AS `distance`
FROM (SELECT *
FROM `flights`
WHERE ((`year` = 2013.0) AND (`month` = 1.0) AND (`day` = 1.0)))))
ORDER BY `year`, `month`, `day`, `carrier`


<PLAN>
   addr       opcode p1    p2 p3           p4 p5 comment
1     0         Init  0    56  0              00      NA
2     1   SorterOpen  4     9  0       k(1,B) 00      NA
3     2     OpenRead  3   131  0           19 00      NA
4     3     OpenRead  5 22656  0     k(4,,,,) 02      NA
5     4         Real  0     1  0         2013 00      NA
6     5         Real  0     2  0            1 00      NA
7     6         Real  0     3  0            1 00      NA
8     7     Affinity  1     3  0          DDD 00      NA
9     8       SeekGE  5    36  1            3 00      NA
10    9        IdxGT  5    36  1            3 00      NA
11   10         Seek  5     0  3              00      NA
12   11       Column  5     0  8              00      NA
13   12       Column  5     1  9              00      NA
14   13       Column  5     2 10              00      NA
15   14       Column  3     9 11              00      NA
16   15       Column  3     5 12              00      NA
17   16 RealAffinity 12     0  0              00      NA
18   17       Column  3    14 13              00      NA
19   18 RealAffinity 13     0  0              00      NA
20   19       Column  3    15 14              00      NA
21   20 RealAffinity 14     0  0              00      NA
22   21       Divide 13    14 16              00      NA
23   22     Multiply 18    16 15              00      NA
24   23         Copy  8     4  0              00      NA
25   24         Copy  9     5  0              00      NA
26   25         Copy 10     6  0              00      NA
27   26         Copy 11     7  0              00      NA
28   27   MakeRecord  7     9 19              00      NA
29   28 SequenceTest  4    33  0              00      NA
30   29      Compare 20     4  3 k(4,B,B,B,B) 00      NA
31   30         Jump 31    34 31              00      NA
32   31        Gosub 23    40  0              00      NA
33   32  ResetSorter  4     0  0              00      NA
34   33         Move  4    20  3              00      NA
35   34 SorterInsert  4    19  0              00      NA
36   35         Next  5     9  1              00      NA
37   36        Close  3     0  0              00      NA
38   37        Close  5     0  0              00      NA
39   38        Gosub 23    40  0              00      NA
40   39         Goto  0    55  0              00      NA
41   40         Once  0    42  0              00      NA
42   41   OpenPseudo  6    24 10              00      NA
43   42   SorterSort  4    55  0              00      NA
44   43   SorterData  4    24  6              00      NA
45   44       Column  6     1  8              00      NA
46   45       Column  6     2  9              00      NA
47   46       Column  6     3 10              00      NA
48   47       Column  6     4 11              00      NA
49   48       Column  6     5 12              00      NA
50   49       Column  6     6 13              00      NA
51   50       Column  6     7 14              00      NA
52   51       Column  6     8 15              00      NA
53   52    ResultRow  8     8  0              00      NA
54   53   SorterNext  4    43  0              00      NA
55   54       Return 23     0  0              00      NA
56   55         Halt  0     0  0              00      NA
57   56  Transaction  0     0 16            0 01      NA
58   57    TableLock  0   131  0      flights 00      NA
59   58         Real  0    18  0           60 00      NA
60   59         Goto  0     1  0              00      NA

In [22]:
translate_sql(x)

<SQL> "x"

In [23]:
translate_sql("x")

<SQL> 'x'

In [24]:
translate_sql(x == 1 && (y < 2 || z > 3))

<SQL> "x" = 1.0 AND ("y" < 2.0 OR "z" > 3.0)

In [25]:
translate_sql(x ^ 2 < 10)

<SQL> POWER("x", 2.0) < 10.0

In [26]:
translate_sql(x %% 2 == 10)

<SQL> "x" % 2.0 = 10.0

In [27]:
translate_sql(1)

<SQL> 1.0

In [28]:
translate_sql(1L)

<SQL> 1

In [29]:
translate_sql(mean(x, trim = T))

ERROR: Error in mean(x, trim = T): unused argument (trim = T)

In [30]:
translate_sql(glob(x, y))

<SQL> GLOB("x", "y")

In [31]:
translate_sql(x %like% "ab*")

<SQL> "x" LIKE 'ab*'

In [32]:
by_tailnum <- group_by(flights_sqlite, tailnum)
delay <- summarise(by_tailnum,
  count = n(),
  dist = mean(distance),
  delay = mean(arr_delay)
)
delay <- filter(delay, count > 20, dist < 2000)
delay_local <- collect(delay)

In [33]:
delay_local

     tailnum count dist     delay
1    NA      2512  710.2576         NA
2    N0EGMQ   371  676.1887  9.9829545
3    N10156   153  757.9477 12.7172414
4    N102UW    48  535.8750  2.9375000
5    N103US    46  535.1957 -6.9347826
6    N104UW    47  535.2553  1.8043478
7    N10575   289  519.7024 20.6914498
8    N105UW    45  524.8444 -0.2666667
9    N107US    41  528.7073 -5.7317073
10   N108UW    60  534.5000 -1.2500000
11   N109UW    48  535.8750 -2.5208333
12   N110UW    40  535.3750  2.8000000
13   N11106   129  771.4109 14.8809524
14   N11107   148  705.8649 15.0143885
15   N11109   148  714.0000 14.8510638
16   N11113   138  719.7754 15.7619048
17   N11119   148  723.3851 30.3065693
18   N11121   154  719.3701 10.3061224
19   N11127   124  748.1129 13.6050420
20   N11137   112  726.5982 20.5514019
21   N11140   157  747.2102 18.3120567
22   N11150   136  775.5588  8.8914729
23   N11155    98  779.1224 12.9895833
24   N11164   143  677.4476 21.6496350
25   N11165   159  752.8805  8.3466667
26   N11176   142  729.0704 20.4045802
27   N11181   125  705.4160  9.0750000
28   N11184   136  744.0515  6.9843750
29   N11187   133  733.8872 11.1904762
30   N11189   140  684.2714  6.7372263
...  ...     ...   ...      ...
2933 N984DL   58   904.7414  4.2280702
2934 N985AT   29   647.8966 15.0384615
2935 N985DL   63   905.1111  0.2539683
2936 N986AT   24   654.5417  0.1250000
2937 N986DL   73   943.7808  5.5833333
2938 N987AT   28   618.6071 37.3846154
2939 N987DL   55   922.8727 -3.2909091
2940 N988AT   37   642.9730 44.3428571
2941 N988DL   55   864.2000  9.4716981
2942 N989AT   66   694.8182 28.1935484
2943 N989DL   89   908.6854 11.0340909
2944 N990AT   71   731.6056 16.3857143
2945 N990DL   56   863.0357 12.4285714
2946 N991AT   25   659.8000 15.6800000
2947 N991DL   92   902.9239  7.3369565
2948 N992AT   38   637.1316 17.7837838
2949 N992DL   57   902.7544 -6.6491228
2950 N993AT   47   606.6809 10.4042553
2951 N993DL   55   884.9091 16.9811321
2952 N994AT   31   698.4839 31.4838710
2953 N994DL   61   886.7869  5.0327869
2954 N995DL   57   883.5789  1.9298246
2955 N996AT   29   673.8966  6.5384615
2956 N996DL  102   897.3039  0.5247525
2957 N997AT   44   679.0455 16.3023256
2958 N997DL   63   867.7619  4.9032258
2959 N998AT   26   593.5385 29.9600000
2960 N998DL   77   857.8182 16.3947368
2961 N999DN   61   895.4590 14.3114754
2962 N9EAMQ  248   674.6653  9.2352941